:root {
  /* colors */
  /* https://www.canva.com/colors/color-wheel/print/605ca3+835ca3+5c7ca3/ */
  --dominantColor: #605ca3; /* var(--dominantColor) */
  --secondaryColor: #835ca3; /* var(--secondaryColor) */
  --accentColor: #5c7ca3; /* var(--accentColor) */

  /* box shadow */
  /* cssmatic */
  /* brumm.af/shadows */
  /* vertical, horizontal, blur, spread, color+opacity */
  --boxShadow: 0 0 20px rgba(0, 0, 0, 0.35); /* var(--boxShadow); */
}
